/* ================ Global Style =============== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --main-color: #7e30e1;
  --text-color: #97a1a7;
}
button {
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  height: 200vh;
}
.logo__site {
  font-size: 24px;
  color: #2c2c2c;
}
@media (min-width: 992px) {
  .container {
    width: 80%;
    margin: auto;
  }
}

/* ===================== Btn Style =============== */
.btn--purple,
.btn--none {
  color: #fff;
  padding: 20px;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid transparent;
}
.btn--purple {
  background-color: var(--main-color);
}
.btn--none {
  border: 2px solid #fff;
}
.text-light {
  color: #6b6a6a;
  font-weight: bold;
}
.text-light:hover {
  color: #404040;
}
.search--icon {
  color: #3a52bf;
  font-weight: bold;
  margin-right: 4px;
}
i {
  cursor: pointer;
}

.section {
  padding: 40px 20px;
}
@media (min-width: 991px) {
  .section__info {
    width: 40%;
  }
}
.section__title {
  font-weight: normal;
  margin: 40px 0 20px 0;
}
.section__description {
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 25px;
}
.section__btn {
  margin: 40px 0;
}
/* =================== Start Navbar ========================= */
nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
nav .container {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  position: relative;
}
nav .nav-links ul li {
  padding: 13px 0;
}
nav .active {
  display: block !important;
}
.nav__item {
  color: #2c2c2c;
}
.nav__search--icon {
  position: relative;
}
.nav__search--icon form {
  margin-top: 20px;
  display: none;
}
.nav__search--icon form input {
  padding: 20px;
  border: 1px solid transparent;
}
.nav__search--icon form input:hover {
  border: 1px solid var(--main-color);
}
.seacrh {
  width: fit-content;
}
.nav__search--icon .active form {
  display: block;
}
@media (max-width: 991px) {
  nav .nav-links {
    position: absolute;
    top: 79px;
    width: 100%;
    left: 0;
    background-color: #fff;
    padding-left: 30px;
    display: none;
  }
}
@media (min-width: 992px) {
  nav .nav--icon {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links ul {
    display: flex;
  }
  .nav__item {
    padding: 10px;
  }
  .nav__search--icon {
    margin-left: 10px;
  }
  .nav__search--icon button {
    display: none;
  }
}
/* =================== End Navbar =========================== */

/* =================== Start Hero Section ========================= */
.hero {
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .heading h1 {
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.hero .heading p {
  font-size: 11px;
  color: #eee;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.hero .btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero .btns button {
  margin: 10px 0;
}
@media (min-width: 767px) {
  .hero .heading h1 {
    font-size: 50px;
  }
  .hero .heading p {
    font-size: 15px;
  }
  .hero .btns {
    flex-direction: row;
  }
  .hero .btns button {
    margin: 0 20px;
  }
}
/* =================== End Hero Section =========================== */

/* =================== Start SEO Friendly ========================= */
.seo .section__image,
.portfolio .section__image {
  width: 100%;
}
.seo .section__image img,
.portfolio .section__image img {
  width: 100%;
  display: block;
  margin: auto;
}
.portfolio .container {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .seo .container,
  .portfolio .container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  .portfolio .container {
    flex-direction: row-reverse;
  }
}
/* =================== End SEO Friendly =========================== */

/* =================== Start Portfolio Section ========================= */

/* =================== End Portfolio Section =========================== */

/* =================== Start Parallax Section ========================= */
/* =================== End Parallax Section =========================== */

/* =================== Start Limitless Options Section ========================= */
/* =================== End Limitless Options Section =========================== */

/* =================== Start Our Latest Projects Section ========================= */
/* =================== End Our Latest Projects Section =========================== */

/* =================== Start Testimonials Section ========================= */
/* =================== End Testimonials Section =========================== */

/* =================== Start Our Main Clients Section ========================= */
/* =================== End Our Main Clients Section =========================== */

/* =================== Start Footer Section ========================= */
/* =================== End Footer Section =========================== */
